name: Deploy Lambda Function

on:
  push:
    branches:
      - master
    paths:
      - 'serverless/aws/**'

jobs:
  deploy-lambda:
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Package Function Code
        run: |
          mkdir staging
          
          cp serverless/aws/*.py staging/
          
          cd staging
          zip -r ../function.zip .

      - name: Deploy function
        run: |
          aws lambda update-function-code \
            --function-name bedrock_invoker \
            --zip-file fileb://function.zip
